@use "../base/reset" as *;
@use "../base/fonts" as *;
@use "../base/variables" as *;
@use "../base/global" as *;
@use "../base/mixins" as *;

@use "../components/title" as *;
@use "../components/button" as *;
@use "../components/form" as *;

.footer {
    background-image: url("../img/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 162px;
    padding-bottom: 72px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @include adaptive-ui($laptop) {
            gap: 40px;
            justify-content: center;
        }

        @include adaptive-ui($premobile - 120px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__social {
        max-width: 380px;

        &-logo {
            font-family: $clicker;
            font-weight: 400;
            font-size: 54px;
            margin-bottom: 20px;
            color: #fff;
        }

        &-text {
            font-family: $playfair;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 20px;
            color: #fff;
        }

        &-media {
            display: flex;

            @include adaptive-ui($laptop) {
                justify-content: center;
            }
        }

        &-item {
            margin-right: 24px;
            cursor: pointer;
        }

        @include adaptive-ui($laptop) {
            text-align: center;
            order: 4;
            max-width: 100%;
            flex: 0 1 45%;
        }
    }

    &__about,
    &__company {
        max-width: 136px;

        &-logo {
            font-family: $playfair;
            font-weight: 700;
            font-size: 26px;
            color: #fff;
            margin-bottom: 55px;
        }

        &-item {
            margin-bottom: 15px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
        }

        @include adaptive-ui($laptop) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__contacts {
        max-width: 332px;

        &-logo {
            font-family: $playfair;
            font-weight: 700;
            font-size: 26px;
            color: #fff;
            margin-bottom: 31px;
        }

        &-item {
            margin-bottom: 15px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
        }

        @include adaptive-ui($laptop) {
            flex: 0 1 45%;
            max-width: 225px;
            text-align: right;
        }

        @include adaptive-ui($premobile - 120px) {
            text-align: center;
        }
    }

    @include adaptive-ui($laptop) {
        background-image: none;
        background: linear-gradient(180deg, #3e2215 0%, #9e6d3d 100%);
    }

    @include adaptive-ui($premobile - 120px) {
        padding: 30px 0;
    }
}