@use "../base/reset" as *;
@use "../base/fonts" as *;
@use "../base/variables" as *;
@use "../base/global" as *;
@use "../base/mixins" as *;

@use "../components/title" as *;
@use "../components/button" as *;
@use "../components/form" as *;

.header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    &--menu-page {
        min-height: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.65);
        height: 100%;
        left: 0;
        right: 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        @include adaptive-ui($mobile) {
            flex-direction: column;
            gap: 10px;
            justify-content: center;
        }
    }

    &__logo {
        font-family: $clicker;
        font-weight: 400;
        font-size: 35px;
        color: #fff;
        max-width: 300px;
    }

    &__nav {
        max-width: 500px;

        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 50px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
        }

        @include adaptive-ui($tablet) {
            display: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 25px;
        position: relative;
        padding-right: 18px;

        &-reservation {
            @include btn;
            outline: none;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 22px;
            height: 18px;
            background-color: transparent;
            border: none;
            cursor: pointer;

            span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: #fff;
            }

            &--active {
                span:nth-child(1) {
                    transform: translateY(7.5px) rotate(45deg);
                }

                span:nth-child(2) {
                    display: none;
                }

                span:nth-child(3) {
                    transform: translateY(-7.5px) rotate(-45deg);
                }
            }
        }
    }


    &__main {
        padding: 96px 0;
        color: rgba(#fff, 0.8);

        &-text-top {
            font-family: $playfair;
            font-weight: 500;
            font-size: 22px;

            @include adaptive-ui($tablet) {
                font-size: 18px;
            }
        }

        &-title {
            font-family: $clicker;
            font-weight: 400;
            font-size: 220px;

            @include adaptive-ui($tablet) {
                font-size: 150px;
            }
        }

        &-text-bottom {
            font-family: $playfair;
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            max-width: 527px;

            @include adaptive-ui($desktop) {
                margin: 0 auto;
            }

            @include adaptive-ui($tablet) {
                font-size: 16px;
            }
        }

        &-button {
            @include btn($fw: 700, $fz: 16px);
            margin-top: 20px;
        }

        @include adaptive-ui($desktop) {
            text-align: center;
        }
    }
}

.reservation {
    position: fixed;
    padding: 0;
    border-radius: 20px;
    background-color: #1E1E1E;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.92);
    }

    &__inner {
        padding: 20px 50px;

        @include adaptive-ui($mobile) {
            padding: 10px 25px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &__title {
        font-family: $clicker;
        font-weight: 400;
        font-size: 36px;
        color: #fff;
    }

    &__close {
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        outline: none;

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            height: 1px;
            background-color: #fff;
        }

        &::before {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }

        &::after {
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
        }
    }

    &__content {
        display: flex;

        @include adaptive-ui($premobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__aside {
        max-width: 200px;
        padding-right: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        @include adaptive-ui($premobile) {
            min-width: 100%;
            text-align: center;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }

    &__hours-title {
        font-family: $playfair;
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        margin: 20px 0;
    }

    &__list {

        &-item {
            margin-bottom: 15px;
        }

        @include adaptive-ui($premobile) {
            display: flex;
            justify-content: center;
            gap: 25px;
        }

        @include adaptive-ui($mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__day {
        font-family: $playfair;
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 5px;
    }

    &__time {
        font-family: $playfair;
        font-weight: 700;
        font-size: 18px;
        color: #F9C06A;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding-left: 20px;
        padding-top: 15px;

        @include adaptive-ui($premobile) {
            display: flex;
            flex-direction: column;
        }
    }

    &__form-item {

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    &__label {
        display: block;
        font-family: $playfair;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 8px;
    }

    &__input {
        @extend %input;

        &._error {
            border: 1px solid red;
            box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
        }
    }

    &__textarea {
        display: block;
        @extend %input;
        resize: none;
    }

    &__button {
        @include btn($fw: 700, $fz: 16px);
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }
}

.menu {
    display: none;
    position: absolute;
    width: 200px;
    top: 70px;
    right: 0;
    background-color: #F9C06A;
    border-radius: 17px;
    padding: 5px;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        right: 20px;
        width: 20px;
        height: 20px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #F9C06A;
        z-index: 3;
    }

    &__inner {
        padding: 0 19px;
        background-color: #1E1E1E;
        border-radius: 17px;
    }

    &__top {
        padding: 14px 0;
        border-bottom: 1px solid #fff;
    }

    &__lang {
        display: flex;
        justify-content: center;

        &-en {
            background-color: #F9C06A;
            color: #1E1E1E;
            padding: 0 7px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            cursor: pointer;
        }

        &-ru {
            background-color: transparent;
            color: #fff;
            padding: 0 7px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            cursor: pointer;
        }
    }

    &__main {
        padding: 14px 0;
        font-size: 17px;
    }

    &--active {
        display: block;
    }

    &__nav {
        display: none;

        &-link {
            color: #fff;
        }

        @include adaptive-ui($tablet) {
            display: block;
        }
    }
}