@use "../base/reset" as *;
@use "../base/fonts" as *;
@use "../base/variables" as *;
@use "../base/global" as *;
@use "../base/mixins" as *;

@use "../components/title" as *;
@use "../components/button" as *;
@use "../components/form" as *;

@use "../blocks/header" as *;
@use "../blocks/footer" as *;

/*
=========================================
    main/presentation
==========================================
*/

.presentation {
    padding: 82px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @include adaptive-ui($laptop) {
            justify-content: center;
        }
    }

    &__info {
        flex-shrink: 0;
        max-width: 585px;

        &-title {
            @extend %title;
            margin-bottom: 29px;

            @include adaptive-ui($tablet) {
                font-size: 46px;
                line-height: 50px;
            }
        }

        &-text {
            margin-bottom: 29px;
            line-height: 34px;

            @include adaptive-ui($tablet) {
                line-height: 32px;
                font-size: 18px;
            }
        }

        &-button {
            @include btn($fw: 700, $fz: 16px);

            &:hover {
                border: 1px solid #1E1E1E;
                color: #1E1E1E;
            }
        }

        @include adaptive-ui($laptop) {
            flex-shrink: 1;
        }

        @include adaptive-ui($tablet) {
            text-align: center;
        }
    }

    &__img {
        flex-shrink: 1;
        min-width: 40%;
        height: auto;

        @include adaptive-ui($tablet) {
            display: none;
        }
    }

    @include adaptive-ui($mobile) {
        padding: 41px 0;
    }
}

/*
=========================================
    main/subscribtion
==========================================
*/

.subscribtion {
    background-image: url("../img/subscribtion-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__inner {
        max-width: 980px;
        padding: 80px 0;
        text-align: center;
        margin: 0 auto;

        @include adaptive-ui($mobile) {
            padding: 40px 0;
        }
    }

    &__title {
        @extend %title;
        color: #fff;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;

        @include adaptive-ui($tablet) {
            font-size: 40px;
            line-height: 50px;
        }

        @include adaptive-ui($premobile) {
            max-width: 370px;
        }
    }

    &__text {
        color: rgba(#fff, 0.7);
        line-height: 34px;
        margin-bottom: 26px;
        margin-left: auto;
        margin-right: auto;

        @include adaptive-ui($premobile) {
            max-width: 450px;
        }
    }

    &__form {
        display: flex;
        max-width: 642px;
        margin: 0 auto;

        &-input {
            @extend %input;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;

            @include adaptive-ui($mobile) {
                border-radius: 4px;
                margin-bottom: 16px;
                text-align: center;
            }
        }

        &-button {
            @include btn($fw: 700, $fz: 22px);
            border-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            @include adaptive-ui($mobile) {
                border-radius: 24px;
                align-self: center;
            }
        }

        @include adaptive-ui($mobile) {
            flex-direction: column;
            max-width: 342px;
        }
    }

    &__img {
        position: absolute;
        bottom: -120px;
        z-index: 2;

        &:last-child {
            transform: rotateY(180deg);
            right: 0;
        }

        @include adaptive-ui($desktop) {
            width: 250px;
            height: auto;
        }

        @include adaptive-ui($laptop) {
            width: 190px;
            bottom: -140px;
            height: auto;
        }

        @include adaptive-ui($tablet) {
            display: none;
        }

    }
}