@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../components/title" as *;
@use "../components/button" as *;

.header--catalog {
    min-height: auto;
}

.catalog {
    padding: 80px 0;

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 40px;
    }

    &__filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 60px;

        &-btn {
            font-family: $playfair;
            font-weight: 500;
            font-size: 18px;
            background-color: transparent;
            border: 1px solid #F9C06A;
            color: $content-color;
            border-radius: 24px;
            padding: 10px 24px;
            cursor: pointer;
            transition: all .2s;

            &:hover,
            &--active {
                background-color: #F9C06A;
                color: #1E1E1E;
                transition: all .2s;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include adaptive-ui($desktop) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include adaptive-ui($tablet) {
            grid-template-columns: 1fr;
        }
    }
}

.catalog-item {
    background: #fff;
    border: 1px solid rgba($coffee, 0.1);
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    padding: 25px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }

    &__image {
        width: 320px;
        height: 250px;
        align-self: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            border-radius: 20px;
        }

        .catalog-item:hover & img {
            transform: scale(1.05);
        }
    }

    &__content {
        padding-top: 25px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    &__name {
        font-family: $playfair;
        font-weight: 700;
        font-size: 24px;
        color: $coffee;
    }

    &__price {
        font-family: $playfair;
        font-weight: 700;
        font-size: 20px;
        color: #F9C06A;
    }

    &__desc {
        color: $content-color;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 25px;
        flex-grow: 1;
    }

    &__button {
        @include btn($fw: 700, $fz: 16px);
        align-self: flex-start;

        &:hover {
            border: 1px solid #1E1E1E;
            color: #1E1E1E;
        }
    }
}