@use "variables" as *;

body {
    font-family: $playfair;
    font-weight: 400;
    font-size: 20px;
    color: $content-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.scroll-block {
    overflow: hidden;
}