$content-color: rgba(112, 112, 112);
$coffee: rgba(96, 56, 9);

$clicker: 'Clicker Script', sans-serif;
$playfair: 'Playfair Display', sans-serif;

$desktop: 1250px;
$laptop: 1080px;
$tablet: 900px;
$premobile: 730px;
$mobile: 480px;