*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    line-height: 1.5;
    margin: 0;
}

input,
textarea,
select,
button {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
}