@use "reset" as *;
@use "typography" as *;

body {
    font-size: $playfair;
    font-weight: 400;
    font-size: 20px;
    color: $content-color;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/*
=========================================
    header
==========================================
*/

.header {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        //background-image: url("../img/overlay.png");
        //background-repeat: no-repeat;
        //background-size: cover;
        background-color: rgba(0, 0, 0, 0.65);
        height: 100%;
        left: 0;
        right: 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__logo {
        font-family: $clicker;
        font-weight: 400;
        font-size: 35px;
        color: #fff;
    }

    &__nav {
        &-list {
            display: flex;
        }

        &-item {
            margin-right: 60px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
        }
    }

    &__buttons {
        &--signin {
            @include btn($general: 'false');
            margin-right: 35px;
            border: none;
            background-color: transparent;
            color: #fff;
            text-decoration: underline;
            cursor: pointer;
        }

        &--signup {
            @include btn;
        }
    }

    &__main {
        padding: 96px 0;
        color: rgba(#fff, 0.8);

        &-text1 {
            font-family: $playfair;
            font-weight: 500;
            font-size: 22px;
        }

        &-logo {
            font-family: $clicker;
            font-weight: 400;
            font-size: 220px;
        }

        &-text2 {
            font-family: $playfair;
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            max-width: 527px;
        }

        &-button {
            @include btn($fw: 700, $fz: 16px);
            margin-top: 20px;   
        }
    }
}

/*
=========================================
    main
==========================================
*/

.main {
    flex: 1 0 auto;
}

/*
=========================================
    main/presentation
==========================================
*/

.presentation {
    padding: 82px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        max-width: 585px;

        &-title {
            @extend %title;
            margin-bottom: 29px;
        }

        &-text {
            max-width: 530px;
            margin-bottom: 29px;
        }

        &-button {
            @include btn($fw: 700, $fz: 16px);

            &:hover {
                border: 1px solid #1E1E1E;
                color: #1E1E1E;
            }
        }
    }
}

/*
=========================================
    main/subscribtion
==========================================
*/

.subscribtion {
    background-image: url("../img/subscribtion-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
    }

    &__title {
        @extend %title;
        color: #fff;
        margin-bottom: 16px;
    }

    &__text {
        color: rgba(#fff, 0.7);
        line-height: 34px;
        margin-bottom: 26px;
    }

    &__form {
        display: flex;
        width: 642px;
        position: relative;

        &-input {
            width: 100%;
            padding: 16px 180px 16px 26px;
            background-color: #fff;
            border: none;
            border-radius: 4px;

            &::placeholder {
                line-height: 34px;
                color: rgba(0, 0, 0, 0.34);
            }

            &:focus {
                outline: none;
                color: rgba(0, 0, 0, 0.34);
            }
        }

        &-button {
            @include btn($general: 'false', $fw: 700, $fz: 22px);
            border-radius: 4px;
            padding: 14.6px 25px;
            border: none;
            color: #1E1E1E;
            background-color: #F9C06A;
            cursor: pointer;
            position: absolute;
            right: 0;
        }
    }

    &__img {
        position: absolute;
        bottom: -120px;
        z-index: 2;

        &:last-child {
            transform: rotateY(180deg);
            right: 0;
        }
    }
}

/*
=========================================
    footer
==========================================
*/

.footer {
    background-image: url("../img/footer-bg.png");
    background-position: top;
    flex: 0 0 auto;
    padding-top: 162px;
    padding-bottom: 72px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.25);
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
    }

    &__social {
        max-width: 380px;

        &-logo {
            font-family: $clicker;
            font-weight: 400;
            font-size: 54px;
            margin-bottom: 20px;
            color: #fff;
        }

        &-text {
            font-family: $playfair;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 20px;
            color: #fff;
        }

        &-media {
            display: flex;
        }

        &-item {
            margin-right: 24px;
            cursor: pointer;
        }
    }

    &__about,
    &__company {
        max-width: 136px;

        &-logo {
            font-family: $playfair;
            font-weight: 700;
            font-size: 26px;
            color: #fff;
            margin-bottom: 55px;
        }

        &-item {
            margin-bottom: 15px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
        }
    }

    &__contacts {
        max-width: 332px;

        &-logo {
            font-family: $playfair;
            font-weight: 700;
            font-size: 26px;
            color: #fff;
            margin-bottom: 31px;
        }

        &-item {
            margin-bottom: 15px;
        }

        &-link {
            font-family: $playfair;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
        }
    }
}